.c1{
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 14px;
  background: #F4F3F1;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.c3{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c4{
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}
.c5{
  color: 13px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: 0.01em;
  color: #000000;
}
.c6{
  color: 13px;
  font-weight: 400;
  line-height: 1.21em;
  letter-spacing: 0.01em;
  color: #7E7E7E;
}
.c7{
  display: flex;
  align-items: center;
  justify-content: center;
}
.c8{
  width: 100%;
  height: 100%;
}

.tw1{
  gap: 10px;
  height: 60px;
}

.tw2{
  width: 41px;
  height: 41px;
}

.tw3{
  gap: 0rem;
}

.tw4{
  width: 24px;
  height: 22px;
}
