.c1{
  background: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 160px;
  padding-bottom: 160px;
}
.c2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.c3{
  color: 20px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: -0.01em;
  color: #000000;
  text-align: center;
}
.c4{
  color: 14px;
  font-weight: 400;
  line-height: 1.21em;
  color: #000000;
  text-align: center;
}

.tw1{
  gap: 9px;
  max-width: 273px;
}
