.c1{
  display: flex;
  flex-direction: column;
}
.c2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #F4F3F1;
  border-radius: 1rem;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 0rem;
}
.c3{
  display: flex;
  align-items: center;
}
.c4{
  border-radius: 13px;
  overflow: hidden;
  background: #ffffff;
  flex-shrink: 0;
}
.c5{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c6{
  display: flex;
  flex-direction: column;
}
.c7{
  color: 13px;
  font-weight: 600;
  line-height: 1.061em;
  color: #000000;
}
.c8{
  color: 13px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
}
.c9{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.c10{
  width: 100%;
  height: 100%;
}

.tw1{
  gap: 8px;
}

.tw2{
  height: 60px;
}

.tw3{
  gap: 10px;
}

.tw4{
  width: 40.89px;
  height: 41px;
}

.tw5{
  gap: 0rem;
}

.tw6{
  width: 24.1px;
  height: 22px;
}
