.c1{
  display: flex;
  flex-direction: column;
}

.tw1{
  gap: 14px;
}

.letterButton{
  width: 100%;
  height: 29px;
  background: #F4F3F1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.letterButtonSelected{
  background: #000;
}

.letterText{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.061em;
}

.letterTextSelected{
  color: #fff;
}

.letterTextDefault{
  color: #7E7E7E;
}
