.c1 {
  width: 100%;
  background: #f4f3f1;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.c2 {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
}
.c3 {
  color: #7e7e7e;
}
.c4 {
  flex: 1 1 0%;
  color: 15px;
  font-weight: 500;
  line-height: 1.21em;
  color: #000000;
}

.tw1 {
  height: 47px;
}

.tw2 {
  gap: 0.5rem;
}

.tw3 {
  background: transparent;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}
.tw3::placeholder {
  color: #000;
  opacity: 0.4;
}
