.c1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #F4F3F1;
  border-radius: 1rem;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 0rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.c1:hover{
  opacity: 0.8;
}
.c2{
  display: flex;
  align-items: center;
}
.c3{
  border-radius: 13px;
  overflow: hidden;
  background: #ffffff;
  flex-shrink: 0;
}
.c4{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c5{
  display: flex;
  flex-direction: column;
}
.c6{
  color: 13px;
  font-weight: 600;
  line-height: 1.061em;
  color: #000000;
}
.c7{
  color: 13px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
}
.c8{
  flex-shrink: 0;
}

.tw1{
  height: 60px;
}

.tw2{
  gap: 10px;
}

.tw3{
  width: 40.89px;
  height: 41px;
}

.tw4{
  gap: 0rem;
}

.tw5{
  width: 5.29px;
  height: 9.25px;
}
