.c1{
  background: #ffffff;
  border-radius: 25px;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 19px;
  padding-bottom: 24px;
}
.c2{
  color: 20px;
  font-weight: 700;
  line-height: 1.06em;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 14px;
}
.c3{
  display: flex;
  flex-direction: column;
}

.tw1{
  gap: 8px;
}
