.c1 {
  background: #ffffff;
  border-radius: 25px;
  margin-top: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 24px;
  padding-bottom: 24px;
}
.c2 {
  color: 20px;
  font-weight: 700;
  line-height: 1.06em;
  letter-spacing: -0.01em;
  color: #000000;
  margin: 0px;
}
.c3 {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.tw1 {
  gap: 8px;
}
