.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.06;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
}
