.root {
  width: 100%;
  max-width: 402px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .root {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .root {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .root {
    max-width: 1024px;
  }
}
