.card {
  width: 100%;
  max-width: 112px;
  height: 112px;
  padding: 14px 0 0 12px;
  border-radius: 20px;
  background: var(--items-background);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.05;
  white-space: pre-line;
  color: #000000;
}

.iconRow {
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 79px;
  max-height: 79px;
  object-fit: contain;
  opacity: 1;
}
