.c1 {
  /* Avoid unstable 100vh in Telegram WebApp */
  min-height: var(--tg-viewport-stable-height, 100vh);
  background: #f4f3f1;
}
.c2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-left: 0rem !important;
  padding-right: 0;
  background: #ffffff;
}
.c3 {
  margin-bottom: 15px;
  padding-right: 15px;
  background: #f4f3f1;
  border-radius: 0.75rem;
  padding: 0.25rem;
  padding-left: 16px;
}
.c4 {
  color: 15px;
  font-weight: 500;
  line-height: 1.21em;
  color: #000000;
}
