.container {
  max-width: 448px;
  margin: 0 auto;

  /* default = desktop */
  padding-top: var(--tg-safe-area-top, 0px);
  padding-bottom: var(--tg-safe-area-bottom, 0px);
}

:root[style*="--tg-is-mobile: 1"] .container {
  padding-top: calc(var(--tg-safe-area-top, 0px) + 43px);
}

.sectionSpacing {
  padding-top: 12px;
}
