.container {
  max-width: 448px;
  margin: 0 auto;

  padding-top: max(81px, var(--tg-safe-area-top, 0px));
  padding-bottom: max(96px, var(--tg-safe-area-bottom, 0px));
}

.sectionSpacing {
  padding-top: 12px;
}
