.container {
  max-width: 448px;
  margin: 0 auto;

  padding-top: calc(var(--tg-safe-area-top, 0px) + 43px);
  padding-bottom: var(--tg-safe-area-bottom, 0px);
}

.sectionSpacing {
  padding-top: 12px;
}
