.c1{
  min-height: 100vh;
  background: #F4F3F1;
  padding-bottom: 5rem;
}
.c2{
  background: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 19px;
  padding-bottom: 24px;
}
.c3{
  color: 20px;
  font-weight: 700;
  line-height: 1.06em;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 14px;
}
.c4{
  margin-bottom: 14px;
}
.c5{
  display: flex;
  flex-direction: column;
}

.tw1{
  gap: 14px;
}
