.root {
  padding: 12px 16px 16px;
}

.header {
  margin-bottom: 17px;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.87em;
  color: #7e7e7e;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.item {
  position: relative;
  width: 100%;
}

.row {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 12px;
}

.left {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 11px;
}

.avatar {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 999px;
  background: #f4f3f1;
  overflow: hidden;
  flex-shrink: 0;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.order {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.21em;
  color: #000;
}

.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7e7e7e;
}

.points {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.21em;
  letter-spacing: -0.01em;
  white-space: nowrap;
  color: #000;
}

.separator {
  position: absolute;
  left: 55px;
  bottom: -4.5px;
  height: 0.5px;
  background: #cdcdcd;
  width: calc(100% - 55px);
  max-width: 315px;
}
