.c1{
  width: 100%;
}
.c2{
  position: relative;
  width: 100%;
  background: #F4F3F1;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}
.c2:active{
  cursor: grabbing;
}
.c3{
  display: flex;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0,0,0.2,1);
}
.c4{
  position: relative;
  flex-shrink: 0;
}
.c5{
  object-fit: cover;
}
.c6{
  position: absolute;
  background: #ffffff;
  padding: 10px;
}
.c7{
  display: flex;
  align-items: center;
}
.c8{
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(14.9px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 49.4px 0px rgba(0,0,0,0.11);
}
.c10{
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(14.9px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 49.4px 0px rgba(0,0,0,0.11);
}

.tw1{
  gap: 21px;
}

.tw2{
  width: 41px;
  height: 41px;
}

.tw3{
  width: 22px;
  height: 20px;
}

.tw4{
  width: 41px;
  height: 41px;
}

.transitionTransform{
  transition-property: transform;
}
