.c1{
  display: flex;
}
.c3{
  display: flex;
  flex-direction: column;
}
.c4{
  position: relative;
}
.c5{
  position: absolute;
  border-radius: 0.125rem;
}
.c6{
  position: absolute;
  border-radius: 0.125rem;
}
.c7{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c8{
  background: #F4F3F1;
  border-radius: 16px;
  padding: 14px;
}
.c9{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}
.c10{
  color: 15px;
  font-weight: 700;
  line-height: 1.16em;
  color: #000000;
  text-transform: uppercase;
}
.c12{
  display: flex;
  align-items: flex-start;
  margin-bottom: 43px;
}
.c13{
  display: flex;
  flex-direction: column;
}
.c14{
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.c15{
  color: 20px;
  font-weight: 700;
  line-height: 1.16em;
  color: #2D2D2D;
  text-transform: uppercase;
}
.c17{
  color: 12px;
  font-weight: 400;
  line-height: 1.06em;
  color: #7E7E7E;
  text-transform: uppercase;
}
.c18{
  overflow-x: auto;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 14px;
  padding-right: 14px;
}
.c19{
  display: flex;
  padding-bottom: 0.5rem;
}
.c20{
  flex-shrink: 0;
  background: #ffffff;
  border-radius: 16px;
  padding: 14px;
}
.c21{
  display: flex;
  margin-bottom: 14px;
}
.c22{
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
}
.c23{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c24{
  flex: 1 1 0%;
}
.c25{
  color: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
  text-transform: uppercase;
  margin-top: 1px;
}
.c26{
  display: flex;
  align-items: center;
  margin-top: 1px;
}
.c27{
  color: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
  text-transform: uppercase;
}
.c28{
  background: #7E7E7E;
  border-radius: 9999px;
}
.c29{
  color: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
  text-transform: uppercase;
}
.c31{
  color: 13px;
  font-weight: 400;
  line-height: 1.21em;
  color: #8F8F8F;
  text-transform: uppercase;
  white-space: pre-line;
}
.c32{
  font-weight: 600;
}
.c33{
  color: 13px;
  font-weight: 400;
  line-height: 1.21em;
  color: #8F8F8F;
  text-transform: uppercase;
  white-space: pre-line;
}
.c34{
  font-weight: 600;
}

.tw1{
  gap: 0rem;
}

.tw2{
  width: 14px;
  height: 14px;
}

.tw3{
  gap: 10px;
}

.spaceY10{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tw4{
  left: 0;
  top: 0;
}

.tw5{
  left: 0;
  top: 0;
}

.tw6{
  width: 5.29px;
  height: 9.25px;
}

.tw7{
  gap: 21px;
}

.tw8{
  gap: 3px;
}

.tw9{
  width: 14px;
  height: 14px;
}

.tw10{
  gap: 23px;
}

.tw11{
  gap: 14px;
}

.tw12{
  width: 32px;
  height: 32px;
}

.tw13{
  min-width: 0;
}

.tw14{
  gap: 4px;
}

.tw15{
  width: 2px;
  height: 2px;
}
