.c1{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c2{
  background: #F4F3F1;
  border-radius: 16px;
  padding: 1rem;
}
.c3{
  margin-bottom: 0.75rem;
}
.c4{
  color: 28.998px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: -0.04em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.c5{
  display: flex;
  align-items: center;
}
.c6{
  color: 12px;
  font-weight: 400;
  line-height: 1.36em;
  color: #7B7B7B;
  text-transform: uppercase;
}
.c7{
  border-radius: 9999px;
  overflow: hidden;
}
.c8{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c9{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #CDCDCD;
}
.c10{
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}
.c11{
  color: 15px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: 0.01em;
  color: #000000;
  text-transform: uppercase;
}
.c12{
  color: 14.444px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: 0.01em;
  color: #000000;
  text-transform: uppercase;
}
.c13{
  color: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
}
.c14{
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: #B6B6B6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tw1{
  gap: 0.5rem;
}

.tw2{
  width: 13.45px;
  height: 13.45px;
}

.tw3{
  gap: 0.5rem;
}

.tw4{
  width: 23.38px;
  height: 23.38px;
}
