.c1{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c2{
  background: #F4F3F1;
  border-radius: 16px;
  padding: 1rem;
}
.c3{
  display: flex;
  align-items: flex-start;
}
.c4{
  flex-shrink: 0;
  margin-top: 0.25rem;
}
.c5{
  flex: 1 1 0%;
}
.c6{
  color: 15px;
  font-weight: 700;
  line-height: 1.16em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.c7{
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
.c8{
  background: #E5E5E5;
  border-radius: 9999px;
  margin-top: 0.375rem;
  flex-shrink: 0;
}
.c9{
  color: 13px;
  font-weight: 600;
  line-height: 1.06em;
  color: #000000;
  text-transform: uppercase;
}
.c10{
  color: 13px;
  font-weight: 400;
  line-height: 1.06em;
  color: #7E7E7E;
  text-transform: lowercase;
  margin-top: 0.25rem;
}

.tw1{
  gap: 0.75rem;
}

.tw2{
  gap: 0.5rem;
}

.tw3{
  width: 8px;
  height: 8px;
}
