.outer {
  padding: 11px 16px 8px 16px;
  position: sticky;
  top: max(var(--ios-safe-top), var(--tg-safe-area-top));
  z-index: 50;
  background: var(--app-background);
}

.inner {
  background: var(--items-background);
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 16px 14px 14px;
}

.input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
}

.input::placeholder {
  font-weight: 400;
  color: #111111;
}
