.page {
  max-width: 448px;
  margin: 0 auto;

  min-height: var(--tg-viewport-stable-height, 100vh);

  padding-top: 50px;
  padding-bottom: calc(24px + var(--lm-footer-height, 0px));

  display: flex;
  flex-direction: column;
}

.topbarTitle {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #111111;
  padding-bottom: 9px;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 16px;
}

.center {
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #111111;
}

.subtitle {
  margin: 8px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
}
