.c1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 26px;
}
.c2{
  position: relative;
  margin-bottom: 14px;
}
.c3{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  background: #F4F3F1;
  overflow: hidden;
}
.c4{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c5{
  width: 100%;
  height: 100%;
  background: #F4F3F1;
}
.c6{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.c7{
  color: 20px;
  font-weight: 600;
  line-height: 1.06em;
  letter-spacing: -0.01em;
  color: #000000;
}
.c8{
  display: flex;
  align-items: center;
  color: 12px;
  font-weight: 400;
  line-height: 1.21em;
  color: #7E7E7E;
}

.tw1{
  width: 93px;
  height: 93px;
}

.tw2{
  max-width: 369px;
}

.tw3{
  gap: 5px;
}

.tw4{
  width: 10px;
  height: 9px;
}
