.page {
  max-width: 448px;
  margin: 0 auto;
  min-height: var(--tg-viewport-stable-height, 100vh);
  padding-bottom: 5rem;
  background: #f4f3f1;
}

.header {
  padding-top: calc(var(--tg-safe-area-top, 0px) + 10px);
  background: #ffffff;
  border-radius: 0 0 25px 25px;
}

.c2 {
  background: #ffffff;
  border-radius: 25px;
  margin-top: 0.5rem;
}
