.root {
  padding: 6px 16px 80px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.letterBar {
  width: 100%;
  background: #f4f3f1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 7px;
}

.letter {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.06;
  color: #7e7e7e;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.06;
  font-family: Inter, sans-serif;
  color: #111111;
  text-transform: capitalize;
}

.chevron {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 0.5px;
  background: #cdcdcd;
}
